---
import { Image } from 'astro:assets';

import img1 from '../assets/hobbies/1.jpg';
import img2 from '../assets/hobbies/2.jpg';
import img3 from '../assets/hobbies/3.jpg';
import img4 from '../assets/hobbies/4.jpg';
import img5 from '../assets/hobbies/5.jpg';

const images = [
  { src: img1, alt: "Hobby 1" },
  { src: img2, alt: "Hobby 2" },
  { src: img3, alt: "Hobby 3" },
  { src: img4, alt: "Hobby 4" },
  { src: img5, alt: "Hobby 5" },
];

const rotations = ['-rotate-3', 'rotate-2', '-rotate-2', 'rotate-3', '-rotate-1'];
---

<div class="flex flex-wrap gap-4">
  {images.map((image, index) => (
    <div class={`
      border-4 border-white shadow-lg overflow-hidden cursor-pointer
      h-44 w-32 transition-all duration-300 ease-out
      hover:scale-110 hover:shadow-xl hover:rotate-0
      ${rotations[index % rotations.length]}
    `}>
      <Image
        src={image.src}
        alt={image.alt}
        class="object-cover w-full h-full"
        width={128}
        height={176}
      />
    </div>
  ))}
</div>
