---
import "../styles/global.css";

const {
	title = "Oscar Molinar | Desarrollador Web",
	description = "Desarrollador web especializado en Laravel, PHP y bases de datos. Trabajo en proyectos personal y proyectos Freelance."
} = Astro.props;
---

<!doctype html>
<html lang="es">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/png" href="/logo_om.png" />
		<meta name="description" content={description} />
		<meta name="generator" content={Astro.generator} />
		<title>{title}</title>

		<link rel="sitemap" href="/sitemap-index.xml" />

		<!-- Google tag (gtag.js) -->
		<script async src="https://www.googletagmanager.com/gtag/js?id=G-JSR35SY8Y5"></script>
		<script>
			window.dataLayer = window.dataLayer || [];
			function gtag(){dataLayer.push(arguments);}
			gtag('js', new Date());

			gtag('config', 'G-JSR35SY8Y5');
		</script>

		<link rel="stylesheet" href="https://cdn.jsdelivr.net/gh/devicons/devicon@latest/devicon.min.css" />
		<script is:inline>
			if (localStorage.getItem('theme') === 'dark' ||
				(!localStorage.getItem('theme') && window.matchMedia('(prefers-color-scheme: dark)').matches)) {
				document.documentElement.classList.add('dark');
			}
		</script>
	</head>
	<body class="dark:bg-[#362F4F] dark:text-[#ECECEC]">
		<div class="max-w-3xl mx-auto px-6 lg:px-2 pb-20">	
			<slot />
		</div>
	</body>
</html>

<style>
	html,
	body {
		margin: 0;
		width: 100%;
		height: 100%;
	}
</style>
